In [166]:
import numpy as np

In [167]:
print(np.linspace(0,10,num=5))

[ 0.   2.5  5.   7.5 10. ]

In [168]:
print(np.linspace(0,10,num=4))

[ 0.          3.33333333  6.66666667 10.        ]

In [169]:
# so linspace divide a range of numbers in no of pieces you want

In [170]:
# now to could explicitly tell which datatype you wants to use by default it is floot

In [171]:
x=np.ones(2,dtype=np.int64)

In [172]:
x

array([1, 1])

In [173]:
# NOW ADDING AND SORTING THE ELEMNETS
# np.sort() np.concatenate()

In [174]:
arr=np.array([2,1,5,6,9,3,12,54])

In [175]:
np.sort(arr)

array([ 1,  2,  3,  5,  6,  9, 12, 54])

In [176]:
# thats how you sort the array and you could use diff types of sorting algo to read more go into the documenation of numpy

In [177]:
a=np.array([1,2,3,4,5])
b=np.array([6,7,8,9,10,11])

In [178]:
np.concatenate((a,b))

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [179]:
# and thats how you concatenate an array

In [180]:
# now what if you start with this kind of array

In [181]:
x=np.array([[1,3,2],[4,3,4]])
y=np.array([[10,11,89]])

In [182]:
# now you gotta add dtype=object at the end of an multi dimensional array or it wont work WHY=? IDK BRO

In [183]:
print(np.concatenate((x,y),axis=0))

[[ 1  3  2]
 [ 4  3  4]
 [10 11 89]]

In [184]:
# okie all the array size should be of the same size COOL!

In [185]:
# now about that axis shit

In [186]:
x=np.array([[1,3]])
y=np.array([[10,11],[4,3]])

In [187]:
# print(np.concatenate((x,y.T),axis=1))

In [188]:
print(np.concatenate((y,x.T),axis=1))

[[10 11  1]
 [ 4  3  3]]

In [189]:
# NOW Thats what axis do default is 0 and you gotta add that .T and that T stands for Transpose

In [190]:
# And the transpose comes in front of that array which is imean kinda alone just figure it out by looking above example

In [191]:
print(np.concatenate((x,y),axis=0))

[[ 1  3]
 [10 11]
 [ 4  3]]

In [192]:
a=np.array([[1,2,3],[4,5,6]])
b=np.array([[7,8,9],[10,11,12]])

In [193]:
print(a)

[[1 2 3]
 [4 5 6]]

In [194]:
simple=np.concatenate((a,b))

In [195]:
with_T=np.concatenate((a,b)).T

In [196]:
print(simple)

[[ 1  2  3]
 [ 4  5  6]
 [ 7  8  9]
 [10 11 12]]

In [197]:
print(with_T)

[[ 1  4  7 10]
 [ 2  5  8 11]
 [ 3  6  9 12]]

In [198]:
# OK so this hi how matrix concatenation works in numpy and this is how to use .T to transpose the matrix COOL!!

In [199]:
# HOW DO YOU KNOW THE SHAPE AND SIZE OF AN ARRAY

In [200]:
# ndarray.ndim,ndarray.size,ndarray.shapea THESE ARE THE THINGS THAT WE ARE GONNA USE

In [201]:
array_Example=np.array([[[0,1,2,3],[4,5,6,7]],
                     [[0,1,2,3],[4,5,6,7]],
                     [[0,1,2,3],[4,5,6,7]]])

In [202]:
# To find the no of dimensions of the array

In [203]:
array_Example.ndim

3

In [204]:
# and ndim stands for number of dimensions COOL !! COOL

In [205]:
# now to find number of elements in an array

In [206]:
array_Example.size

24

In [207]:
# now to find the shape of the array

In [208]:
array_Example.shape

(3, 2, 4)

In [209]:
# THATS A FUCKING 3D MATRIX 3 ON THE X 2 ON THE Y AND 4 ON THE Z COOL!! RIGHT

In [210]:
# Now how to reshape an array command arr.reshape()

In [211]:
a=np.arange(6)

In [212]:
print(a)

[0 1 2 3 4 5]

In [213]:
a_arr=a.reshape(2,3)

In [214]:
print(a_arr)

[[0 1 2]
 [3 4 5]]

In [215]:
# Thats how you reshape an array

In [216]:
# NOW HOW TO CONVERT A 1D ARRAY INTO 2D ARRAY

In [217]:
# commands :- np.newaxis,np.expand_dims

In [218]:
a=np.array([1,2,3,4,5,6])
a.shape

(6,)

In [219]:
a2=a[np.newaxis,:]

In [220]:
a2.shape

(1, 6)

In [221]:
 test=np.array([[1,2,3,4,5],[6,7,8,9,0]])

In [222]:
print(test.shape)

(2, 5)

In [223]:
a2=test[np.newaxis,:]

In [224]:
a2.shape

(1, 2, 5)

In [225]:
# TESTING

In [254]:
a=np.array([[1,2,3,4,5,6],[7,0,8,9,0,4]])

In [255]:
a.shape

(2, 6)

In [256]:
t=a.T

In [257]:
print(t)

[[1 7]
 [2 0]
 [3 8]
 [4 9]
 [5 0]
 [6 4]]

In [258]:
print(a)

[[1 2 3 4 5 6]
 [7 0 8 9 0 4]]

In [249]:
t.shape

(2,)

In [243]:
a.shape

(2, 5)