In [36]:
# this is the rediction of stock prices using Linear Regression

In [37]:
import quandl
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression

In [38]:
quandl.ApiConfig.api_key='SVdgZ1xfdULzab4xWRZR'

In [39]:
df=quandl.get('WIKI/AMZN')

In [40]:
df.head()

,Open,High,Low,Close,Volume,Ex-Dividend,Split Ratio,Adj. Open,Adj. High,Adj. Low,Adj. Close,Adj. Volume
Date,,,,,,,,,,,,
1997-05-16,22.38,23.75,20.50,20.75,1225000.0,0.0,1.0,1.865000,1.979167,1.708333,1.729167,14700000.0
1997-05-19,20.50,21.25,19.50,20.50,508900.0,0.0,1.0,1.708333,1.770833,1.625000,1.708333,6106800.0
1997-05-20,20.75,21.00,19.63,19.63,455600.0,0.0,1.0,1.729167,1.750000,1.635833,1.635833,5467200.0
1997-05-21,19.25,19.75,16.50,17.13,1571100.0,0.0,1.0,1.604167,1.645833,1.375000,1.427500,18853200.0
1997-05-22,17.25,17.38,15.75,16.75,981400.0,0.0,1.0,1.437500,1.448333,1.312500,1.395833,11776800.0

In [41]:
df=df[['Adj. Close']]

In [42]:
df.head()

            Adj. Close
Date
1997-05-16    1.729167
1997-05-19    1.708333
1997-05-20    1.635833
1997-05-21    1.427500
1997-05-22    1.395833

In [43]:
# now we got our Data yeah!!!

In [44]:
df['Adj.CLose'].plot(figsize=(15,6),color='g')
plt.legend(loc='upper left')
plt.show()

KeyError: 'Adj.CLose'